.button {
  margin: 20px;
}

.customBtn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.append {
  background-color: orange;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-right: 50px;
}

.append span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.append:hover {
  background-color: #ffb432;
}

.cancel {
  background-color: blueviolet;
  /* background-image: linear-gradient(315deg, #e0e7ff 0%, #7f8ff4 74%); */
  line-height: 42px;
  padding: 0;
  border: none;
}

.cancel span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.cancel:hover {
  background-color: rgb(135, 90, 224);
}
